NEXT_PUBLIC_SUPABASE_URL=https://zidzeerkgapexplqsrzx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InppZHplZXJrZ2FwZXhwbHFzcnp4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIzMDg2MzYsImV4cCI6MjA5Nzg4NDYzNn0.oD5r-ged0lb4uqvbHOtWKgNCWlsZRU7I8P543hjISZw
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InppZHplZXJrZ2FwZXhwbHFzcnp4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MjMwODYzNiwiZXhwIjoyMDk3ODg0NjM2fQ.sRT8AckpeVqknjfrXknkRpSGiCHUxyxeKq82L3VqU_M
NEXT_PUBLIC_SITE_URL=https://nclexprepnation.com
NEXT_PUBLIC_WHATSAPP_NUMBER=+12495146148
SUPPORT_EMAIL=support@nclexprepnation.com
CONTACT_TO_EMAIL=support@nclexprepnation.com
RESEND_API_KEY=re_5UWUz4AL_5wy3jmywRvuQF9bP9CKL1YwD
RESEND_FROM_EMAIL="NCLEX Prep Nation <onboarding@resend.dev>"
